// BootstrapのCSSをすべてインポート
@import "~bootstrap/scss/bootstrap";

body {
    background: url('images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.paginate_button:not(.disabled) a{
    color: #800 !important;
}

.paginate_button:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, .5) !important;
}

.btn-danger {
    background-color: #971723 !important;
}

.btn-danger:active {
    background-color: #7a121c !important;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
}

.paginate_button:not(.previous):not(.next).active a{
    color: #fff !important;
    background-color: #881520 !important;
    border-color: #881520 !important;
}

.dark-red-background {
    background-color: #971723 !important;
}

.searchBar {
    background-color: #000;
}

.albumart {
    width: 60px;
}
@include media-breakpoint-up(sm) {
    .albumart {
        width: 60px
    }
}
@include media-breakpoint-up(md) {
    .albumart {
        width: 75px
    }
}
@include media-breakpoint-up(lg) {
    .albumart {
        width: 100px
    }
}


.dt-center .pagination {
    justify-content: center !important;
}

.resultTable_filter {
    background-color: #f00 !important; 
}

.dataTables_length {
    margin-bottom: 15px;
}

.dataTables_info {
    margin-bottom: 15px;
}
// icons----------------------------------------------

.icon {
    height: 20px !important;
    width: 20px !important;
    min-width: 18px !important;
    display: inline-block;
    vertical-align: sub;
    margin-right: 6px;
}

.OrchestraIcon {
    background: url('images/orchestra.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.ConductorIcon {
    background: url('images/baton.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.PianoIcon {
    background: url('images/piano.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.ViolinIcon {
    background: url('images/violin.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.ViolaIcon {
    background: url('images/violin.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.CelloIcon {
    background: url('images/violin.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.BassIcon {
    background: url('images/violin.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.FluteIcon {
    background: url('images/flute.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.OboeIcon {
    background: url('images/oboe.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.ClarinetIcon {
    background: url('images/clarinet.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.BassoonIcon {
    background: url('images/bassoon.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.TrumpetIcon {
    background: url('images/trumpet.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.HornIcon {
    background: url('images/horn.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.TromboneIcon {
    background: url('images/trombone.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.TubaIcon {
    background: url('images/tuba.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.TimpaniIcon {
    background: url('images/timpani.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.PercussionIcon {
    display: inline-block;
    background: url('images/marimba.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.MarimbaIcon {
    background: url('images/marimba.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.OrganIcon {
    background: url('images/organ.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.HarpIcon {
    background: url('images/harp.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.EnsembleIcon {
    background: url('images/ensemble.png');
    background-size: contain;
    background-repeat: no-repeat;
}



.ic{
    display: flex;
    align-items: center;
}

// .batonicon {
//     background: url('images/baton.png');
//     height: 20px;
//     width: 20px;
//     display: block;
//     /* Other styles here */
// }