// BootstrapのCSSをすべてインポート
@import "~bootstrap/scss/bootstrap";

body {
    background: url('images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-color: #200;
}

.footerLink {
    color: #777 !important;
    text-decoration: none !important;
}

.footerLink:hover {
    color: #ccc !important;
    text-decoration: none !important;
}

// UI
.nameInitialLabel {
    pointer-events: none;
    color: #999 !important;
}

// pagination, button color -------------------------

.paginate_button:not(.disabled) a{
    color: #800 !important;
}

.btn-danger {
    background-color: #971723 !important;
}

.btn-danger:active {
    background-color: #7a121c !important;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
}

.paginate_button:not(.previous):not(.next).active a{
    color: #fff !important;
    background-color: #881520 !important;
    border-color: #881520 !important;
}

.dark-red-background {
    background-color: #971723 !important;
}

.dark-red {
    color: #971723 !important;
}

.filter {
    background: url('images/magnify.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 13px !important;
    width: 13px !important;
    min-width: 12px !important;
    display: inline-block;
    vertical-align: sub;
    margin-left: 3px;
}

.searchBar {
    background-color: #000;
}

#progressTextWrap {
    min-height: 50px;
}

// album art size, responsive, animation------------------
.arts{
    position: relative;
    top: 0px;
    left: 0px;
    width: 70px;
    margin: auto;
}
.cd {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 70px;
}
.albumart {
    width: 70px;
    height: 70px;
    transition: transform 0.2s;
    transform-origin: left bottom;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 50;
}
.albumart:hover {
    transform: skewY(-10deg) scaleX(0.97);
    // border-right: 1px solid #555;
    border-bottom: 1px solid #555;
}
@include media-breakpoint-up(sm) {
    .albumart {
        width: 70px;
        height: 70px;
    }
    .arts {
        width: 70px;
    }
    .cd {
        width: 70px;
    }
}
@include media-breakpoint-up(md) {
    .albumart {
        width: 75px;
        height: 75px;
    }
    .arts {
        width: 75px;
    }
    .cd {
        width: 75px;
    }
}
@include media-breakpoint-up(lg) {
    .albumart {
        width: 100px;
        height: 100px;
    }
    .arts {
        width: 100px;
    }
    .cd {
        width: 100px;
    }
}

// pagination color, button color to red -------------

.dt-center .pagination {
    justify-content: center !important;
}

.resultTable_filter {
    background-color: #f00 !important; 
}

.dataTables_length {
    margin-bottom: 15px;
}

.dataTables_info {
    margin-bottom: 15px;
}
// icons----------------------------------------------

.icon {
    height: 20px !important;
    width: 20px !important;
    min-width: 18px !important;
    display: inline-block;
    vertical-align: sub;
    margin-right: 6px;
}

.OrchestraIcon {
    background: url('images/orchestra.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.ConductorIcon {
    background: url('images/baton.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.PianoIcon {
    background: url('images/piano.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.ViolinIcon {
    background: url('images/violin.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.ViolaIcon {
    background: url('images/viola.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.CelloIcon {
    background: url('images/cello.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.ContrabassIcon {
    background: url('images/double-bass.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.BassIcon {
    background: url('images/double-bass.png');
    background-size: contain;
    background-repeat: no-repeat;
}


.FluteIcon {
    background: url('images/flute.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.OboeIcon {
    background: url('images/oboe.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.ClarinetIcon {
    background: url('images/clarinet.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.BassoonIcon {
    background: url('images/bassoon.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.TrumpetIcon {
    background: url('images/trumpet.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.HornIcon {
    background: url('images/horn.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.TromboneIcon {
    background: url('images/trombone.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.TubaIcon {
    background: url('images/tuba.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.TimpaniIcon {
    background: url('images/timpani.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.PercussionIcon {
    display: inline-block;
    background: url('images/marimba.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.MarimbaIcon {
    background: url('images/marimba.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.OrganIcon {
    background: url('images/organ.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.HarpIcon {
    background: url('images/harp.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.EnsembleIcon {
    background: url('images/ensemble.png');
    background-size: contain;
    background-repeat: no-repeat;
}



.ic{
    display: flex;
    align-items: center;
}